.friendsList {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 12px;
  }
  
  .friendsListItem {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    padding: 12px;
  }