.container {
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border: 2px solid black;
    overflow: hidden;
}

.button {
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: auto;
    background-color: #e6dede;
    border: 1px solid black;
}

.buttonCard {
    width: 300px;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: left;
}